### Package Installation ###

In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in d:\hda vinternship buet\hdaenv\lib\site-packages (2.9.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in d:\hda vinternship buet\hdaenv\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in d:\hda vinternship buet\hdaenv\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install pandas

Requirement already satisfied: pandas in d:\hda vinternship buet\hdaenv\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\hda vinternship buet\hdaenv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\hda vinternship buet\hdaenv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in d:\hda vinternship buet\hdaenv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in d:\hda vinternship buet\hdaenv\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in d:\hda vinternship buet\hdaenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

### Importing Packages ###

In [4]:
import psycopg2
import pandas as pd
import psycopg2.extras

### Extract ###

#### Read from excel file ####

In [5]:
fact_table = pd.read_excel(r'D:\HDA vinternship Buet\dataset\e-commerece_data.xlsx', sheet_name='Fact_table', engine='openpyxl')
#fact_table = pd.read_csv(r'C:\Git-Projects\eSRD-Lab\vInternship-Projects\HDA\Fact_data.csv')

In [11]:
fact_table

,payment_key,coustomer_key,time_key,item_key,store_key,quantity,unit,unit_price,total_price
0,P026,C004510,T049189,I00177,S00307,1,ct,35.0,35.0
1,P022,C008967,T041209,I00248,S00595,1,rolls,26.0,26.0
2,P030,C007261,T03633,I00195,S00496,8,ct,12.5,100.0
3,P032,C007048,T084631,I00131,S0086,8,ct,14.0,112.0
4,P014,C006430,T071276,I00050,S00488,8,cans,8.0,64.0
...,...,...,...,...,...,...,...,...,...
999995,P010,C003726,T09247,I00063,S00502,5,cans,40.0,200.0
999996,P021,C002581,T023483,I00252,S00225,1,ct,11.0,11.0
999997,P035,C006133,T039372,I00119,S00555,7,ct,53.0,371.0
999998,P031,C008735,T097975,I00257,S00440,2,ct,21.0,42.0
999999,P032,C004067,T018028,I00044,S00326,10,cans,8.0,80.0

In [29]:
trans_dim = pd.read_excel(r'D:\HDA vinternship Buet\dataset\e-commerece_data.xlsx', sheet_name='Trans_dim', engine='openpyxl')

In [30]:
trans_dim.dtypes
trans_dim['payment_key']

0     P001
1     P002
2     P003
3     P004
4     P005
5     P006
6     P007
7     P008
8     P009
9     P010
10    P011
11    P012
12    P013
13    P014
14    P015
15    P016
16    P017
17    P018
18    P019
19    P020
20    P021
21    P022
22    P023
23    P024
24    P025
25    P026
26    P027
27    P028
28    P029
29    P030
30    P031
31    P032
32    P033
33    P034
34    P035
35    P036
36    P037
37    P038
38    P039
Name: payment_key, dtype: object

In [7]:
item_dim = pd.read_excel(r'D:\HDA vinternship Buet\dataset\e-commerece_data.xlsx', sheet_name='Item_dim', engine='openpyxl')

In [20]:
item_dim
item_dim.dtypes

item_key        object
item_name       object
desc            object
unit_price     float64
man_country     object
supplier        object
unit            object
dtype: object

In [8]:
customer_dim = pd.read_excel(r'D:\HDA vinternship Buet\dataset\e-commerece_data.xlsx', sheet_name='Coustomer_dim', engine='openpyxl')
# customer_dim = pd.read_csv(r'D:\HDA vinternship Buet\dataset\Coustomer_dim.csv')

In [22]:
customer_dim.dtypes

coustomer_key    object
name             object
contact_no        int64
nid               int64
dtype: object

In [9]:
time_dim = pd.read_excel(r'D:\HDA vinternship Buet\dataset\e-commerece_data.xlsx', sheet_name='Time_dim', engine='openpyxl')

In [25]:
time_dim.dtypes

time_key    object
date        object
hour         int64
day          int64
week        object
month        int64
quarter     object
year         int64
dtype: object

In [10]:
store_dim = pd.read_excel(r'D:\HDA vinternship Buet\dataset\e-commerece_data.xlsx', sheet_name='Store_dim', engine='openpyxl')

In [24]:
store_dim

    store_key division  district                  upazila
0       S0001   SYLHET  HABIGANJ               AJMIRIGANJ
1       S0002   SYLHET  HABIGANJ                  BAHUBAL
2       S0003   SYLHET  HABIGANJ               BANIACHONG
3       S0004   SYLHET  HABIGANJ              CHUNARUGHAT
4       S0005   SYLHET  HABIGANJ           HABIGANJ SADAR
..        ...      ...       ...                      ...
721    S00722  BARISAL   BARISAL                    HIZLA
722    S00723  BARISAL   BARISAL  BARISAL SADAR (KOTWALI)
723    S00724  BARISAL   BARISAL              MEHENDIGANJ
724    S00725  BARISAL   BARISAL                   MULADI
725    S00726  BARISAL   BARISAL                 WAZIRPUR

[726 rows x 4 columns]

### Transform ###

In [31]:
item_dim['unit_price'] = pd.to_numeric(item_dim['unit_price'])
item_dim.dtypes

item_key        object
item_name       object
desc            object
unit_price     float64
man_country     object
supplier        object
unit            object
dtype: object

In [32]:
time_dim['date'] = time_dim['date'].astype('datetime64[ns]')
time_dim.dtypes
# time_dim

C:\Users\kazis\AppData\Local\Temp\ipykernel_2620\2997183980.py:1: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  time_dim['date'] = time_dim['date'].astype('datetime64[ns]')

time_key            object
date        datetime64[ns]
hour                 int64
day                  int64
week                object
month                int64
quarter             object
year                 int64
dtype: object

In [33]:
fact_table['unit_price'] = pd.to_numeric(fact_table['unit_price'])
fact_table['total_price'] = pd.to_numeric(fact_table['total_price'])
fact_table.dtypes

payment_key       object
coustomer_key     object
time_key          object
item_key          object
store_key         object
quantity           int64
unit              object
unit_price       float64
total_price      float64
dtype: object

In [38]:
trans_dim.values

array([['P001', 'cash', nan],
       ['P002', 'card', 'AB Bank Limited'],
       ['P003', 'card', 'Bangladesh Commerce Bank Limited'],
       ['P004', 'card', 'Bank Asia Limited'],
       ['P005', 'card', 'BRAC Bank Limited'],
       ['P006', 'card', 'Citizens Bank Limited'],
       ['P007', 'card', 'City Bank Limited'],
       ['P008', 'card', 'Community Bank Bangladesh Limited'],
       ['P009', 'card', 'Dhaka Bank Limited'],
       ['P010', 'card', 'Dutch-Bangla Bank Limited'],
       ['P011', 'card', 'Eastern Bank Limited'],
       ['P012', 'card', 'IFIC Bank Limited'],
       ['P013', 'card', 'Jamuna Bank Limited'],
       ['P014', 'card', 'Meghna Bank Limited'],
       ['P015', 'card', 'Mercantile Bank Limited'],
       ['P016', 'card', 'Midland Bank Limited'],
       ['P017', 'card', 'Modhumoti Bank Limited'],
       ['P018', 'card', 'Mutual Trust Bank Limited'],
       ['P019', 'card', 'National Bank Limited'],
       ['P020', 'card', 'National Credit & Commerce Bank Limited'],
       ['P021', 'card', 'NRB Bank Limited'],
       ['P022', 'card', 'NRB Commercial Bank Ltd'],
       ['P023', 'card', 'NRB Global Bank Ltd'],
       ['P024', 'card', 'One Bank Limited'],
       ['P025', 'card', 'Padma Bank Limited'],
       ['P026', 'card', 'Premier Bank Limited'],
       ['P027', 'card', 'Prime Bank Limited'],
       ['P028', 'card', 'Pubali Bank Limited'],
       ['P029', 'card', 'Standard Bank Limited'],
       ['P030', 'card', 'Shimanto Bank Ltd'],
       ['P031', 'card', 'Southeast Bank Limited'],
       ['P032', 'card',
        'South Bangla Agriculture and Commerce Bank Limited'],
       ['P033', 'card', 'Trust Bank Limited'],
       ['P034', 'card', 'United Commercial Bank Ltd'],
       ['P035', 'card', 'Uttara Bank Limited'],
       ['P036', 'card', 'Bengal Commercial Bank Ltd'],
       ['P037', 'mobile', 'Bkash'],
       ['P038', 'mobile', 'Rocket'],
       ['P039', 'mobile', 'Nagad']], dtype=object)

### Load ###

#### Connect to DB ####

In [36]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="ecomdb",
                                           user = "postgres",
                                           password = "admin",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("Connection to DB established!")
        return self.connection

In [37]:
con = PostgresConnection().getConnection()

Connection to DB established!

#### Insert Data into tables #####

In [39]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.trans_dim(payment_key, trans_type, bank_name)" \
            " VALUES (%s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, trans_dim.values)
con.commit()
cur.close()

Connection to DB established!

In [40]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.store_dim( store_key, division, district, upazila) VALUES (%s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, store_dim.values)
con.commit()
cur.close()

Connection to DB established!

In [41]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.item_dim( item_key, item_name, description, unit_price, man_country, supplier, unit) VALUES (%s, %s, %s, %s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, item_dim.values)
con.commit()
cur.close()

Connection to DB established!

In [42]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.customer_dim(customer_key, name, contact_noint, nid)VALUES (%s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, customer_dim.values)
con.commit()
cur.close()

Connection to DB established!

In [44]:
import time

start_time = time.time()

con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.time_dim(time_key, t_date, hour, day, week, month, quarter, year)VALUES (%s, %s, %s, %s, %s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, time_dim.values)
con.commit()
cur.close()

end_time = time.time()

print("Excecution time: {:.2f} seconds".format(end_time - start_time))

Connection to DB established!
Excecution time: 9.18 seconds

In [45]:
import time

start_time = time.time()

con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.fact_table(payment_key, customer_key, time_key, item_key, store_key, quantity, unit, unit_price, total_price)VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, fact_table.values)
con.commit()
cur.close()

end_time = time.time()

print("Excecution time: {:.2f} seconds".format(end_time - start_time))

Connection to DB established!
Excecution time: 294.97 seconds

In [27]:
con = PostgresConnection().getConnection()
select_stmt = "Select * FROM star_schema.trans_dim"
cur = con.cursor()
cur.execute(select_stmt)
res = cur.fetchall()
cur.close()

Connection to DB established!

In [28]:
res

[('P001', 'cash', 'None'),
 ('P002', 'card', 'AB Bank Limited'),
 ('P003', 'card', 'Bangladesh Commerce Bank Limited'),
 ('P004', 'card', 'Bank Asia Limited'),
 ('P005', 'card', 'BRAC Bank Limited'),
 ('P006', 'card', 'Citizens Bank Limited'),
 ('P007', 'card', 'City Bank Limited'),
 ('P008', 'card', 'Community Bank Bangladesh Limited'),
 ('P009', 'card', 'Dhaka Bank Limited'),
 ('P010', 'card', 'Dutch-Bangla Bank Limited'),
 ('P011', 'card', 'Eastern Bank Limited'),
 ('P012', 'card', 'IFIC Bank Limited'),
 ('P013', 'card', 'Jamuna Bank Limited'),
 ('P014', 'card', 'Meghna Bank Limited'),
 ('P015', 'card', 'Mercantile Bank Limited'),
 ('P016', 'card', 'Midland Bank Limited'),
 ('P017', 'card', 'Modhumoti Bank Limited'),
 ('P018', 'card', 'Mutual Trust Bank Limited'),
 ('P019', 'card', 'National Bank Limited'),
 ('P020', 'card', 'National Credit & Commerce Bank Limited'),
 ('P021', 'card', 'NRB Bank Limited'),
 ('P022', 'card', 'NRB Commercial Bank Ltd'),
 ('P023', 'card', 'NRB Global Bank Ltd'),
 ('P024', 'card', 'One Bank Limited'),
 ('P025', 'card', 'Padma Bank Limited'),
 ('P026', 'card', 'Premier Bank Limited'),
 ('P027', 'card', 'Prime Bank Limited'),
 ('P028', 'card', 'Pubali Bank Limited'),
 ('P029', 'card', 'Standard Bank Limited'),
 ('P030', 'card', 'Shimanto Bank Ltd'),
 ('P031', 'card', 'Southeast Bank Limited'),
 ('P032', 'card', 'South Bangla Agriculture and Commerce Bank Limited'),
 ('P033', 'card', 'Trust Bank Limited'),
 ('P034', 'card', 'United Commercial Bank Ltd'),
 ('P035', 'card', 'Uttara Bank Limited'),
 ('P036', 'card', 'Bengal Commercial Bank Ltd'),
 ('P037', 'mobile', 'Bkash'),
 ('P038', 'mobile', 'Rocket'),
 ('P039', 'mobile', 'Nagad')]