### Package Installation ###

In [1]:
pip install psycopg2

Collecting psycopg2
  Using cached psycopg2-2.9.6-cp310-cp310-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.1-cp310-cp310-win_amd64.whl (10.7 MB)
                                              0.0/10.7 MB ? eta -:--:--
                                              0.0/10.7 MB ? eta -:--:--
                                             0.0/10.7 MB 325.1 kB/s eta 0:00:33
                                             0.0/10.7 MB 325.1 kB/s eta 0:00:33
                                             0.0/10.7 MB 325.1 kB/s eta 0:00:33
                                             0.0/10.7 MB 163.4 kB/s eta 0:01:05
                                             0.1/10.7 MB 245.8 kB/s eta 0:00:44
                                             0.1/10.7 MB 327.2 kB/s eta 0:00:33
                                             0.1/10.7 MB 327.2 kB/s eta 0:00:33
                                             0.1/10.7 MB 300.4 kB/s eta 0:00:36
                                             0.2/10.7 MB 406.9 kB/s eta 0:00:26
                                             0.2/10.7 MB 458.5 kB/s eta 0:00:23
                                             0.2/10.7 MB 436.6 kB/s eta 0:00:24
                                             0.3/10.7 MB 425.2 kB/s eta 0:00:25
     -                                       0.3/10.7 MB 475.1 kB/s eta 0:00:22
     -                                       0.4/10.7 MB 518.1 kB/s eta 0:00:20
     -                                       0.4/10.7 MB 509.8 kB/s eta 0:00:21
     -                                       0.4/10.7 MB 509.8 kB/s eta 0:00:21
     -                                       0.4/10.7 MB 491.2 kB/s eta 0:00:21
     -                                       0.5/10.7 MB 596.8 kB/s eta 0:00:17
     --                                      0.6/10.7 MB 700.8 kB/s eta 0:00:15
     --                                      0.6/10.7 MB 700.8 kB/s eta 0:00:15
     --                                      0.7/10.7 MB 655.6 kB/s eta 0:00:16
     --                                      0.8/10.7 MB 743.3 kB/s eta 0:00:14
     ---                                     1.1/10.7 MB 951.1 kB/s eta 0:00:11
     ----                                     1.2/10.7 MB 1.1 MB/s eta 0:00:09
     ----                                     1.2/10.7 MB 1.1 MB/s eta 0:00:09
     -----                                    1.4/10.7 MB 1.1 MB/s eta 0:00:09
     ------                                   1.8/10.7 MB 1.4 MB/s eta 0:00:07
     -------                                  2.0/10.7 MB 1.5 MB/s eta 0:00:06
     --------                                 2.4/10.7 MB 1.7 MB/s eta 0:00:05
     ---------                                2.4/10.7 MB 1.7 MB/s eta 0:00:05
     ----------                               2.9/10.7 MB 1.9 MB/s eta 0:00:05
     -------------                            3.5/10.7 MB 2.3 MB/s eta 0:00:04
     --------------                           3.9/10.7 MB 2.5 MB/s eta 0:00:03
     ---------------                          4.1/10.7 MB 2.6 MB/s eta 0:00:03
     ---------------                          4.1/10.7 MB 2.6 MB/s eta 0:00:03
     ---------------                          4.1/10.7 MB 2.6 MB/s eta 0:00:03
     ---------------                          4.1/10.7 MB 2.6 MB/s eta 0:00:03
     ---------------                          4.1/10.7 MB 2.6 MB/s eta 0:00:03
     ---------------                          4.1/10.7 MB 2.6 MB/s eta 0:00:03
     ---------------                          4.1/10.7 MB 2.6 MB/s eta 0:00:03
     ---------------                          4.1/10.7 MB 2.6 MB/s eta 0:00:03
     ---------------                          4.1/10.7 MB 2.6 MB/s eta 0:00:03
     ---------------                          4.2/10.7 MB 2.1 MB/s eta 0:00:04
     ------------------                       4.9/10.7 MB 2.3 MB/s eta 0:00:03
     -----------------------                  6.1/10.7 MB 2.9 MB/s eta 0:00:02
     -----------------------                  6.3/10.7 MB 2.9 MB/s eta 0:00:02
     ------------------------                 6.5/10.7 MB 2.9 MB/s eta 0:00:02
     --------------------------               7.0/10.7 MB 3.1 MB/s eta 0:00:02
     ----------------------------             7.6/10.7 MB 3.3 MB/s eta 0:00:01
     ----------------------------             7.7/10.7 MB 3.2 MB/s eta 0:00:01
     -----------------------------            8.0/10.7 MB 3.3 MB/s eta 0:00:01
     -------------------------------          8.3/10.7 MB 3.4 MB/s eta 0:00:01
     --------------------------------         8.6/10.7 MB 3.4 MB/s eta 0:00:01
     --------------------------------         8.8/10.7 MB 3.4 MB/s eta 0:00:01
     ---------------------------------        9.0/10.7 MB 3.5 MB/s eta 0:00:01
     ----------------------------------       9.2/10.7 MB 3.5 MB/s eta 0:00:01
     -----------------------------------      9.4/10.7 MB 3.5 MB/s eta 0:00:01
     -----------------------------------      9.4/10.7 MB 3.5 MB/s eta 0:00:01
     -----------------------------------      9.4/10.7 MB 3.5 MB/s eta 0:00:01
     -----------------------------------      9.4/10.7 MB 3.5 MB/s eta 0:00:01
     -----------------------------------      9.5/10.7 MB 3.3 MB/s eta 0:00:01
     ------------------------------------     9.8/10.7 MB 3.3 MB/s eta 0:00:01
     ------------------------------------     9.8/10.7 MB 3.3 MB/s eta 0:00:01
     ------------------------------------     9.8/10.7 MB 3.3 MB/s eta 0:00:01
     -------------------------------------    9.9/10.7 MB 3.2 MB/s eta 0:00:01
     -------------------------------------    10.1/10.7 MB 3.2 MB/s eta 0:00:01
     -------------------------------------    10.1/10.7 MB 3.2 MB/s eta 0:00:01
     -------------------------------------    10.1/10.7 MB 3.2 MB/s eta 0:00:01
     --------------------------------------   10.2/10.7 MB 3.1 MB/s eta 0:00:01
     --------------------------------------   10.2/10.7 MB 3.1 MB/s eta 0:00:01
     --------------------------------------   10.2/10.7 MB 3.0 MB/s eta 0:00:01
     --------------------------------------   10.3/10.7 MB 3.1 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.7 MB 3.8 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.7 MB 3.8 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.7 MB 3.8 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.7 MB 3.8 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.7 MB 3.8 MB/s eta 0:00:01
     ---------------------------------------- 10.7/10.7 MB 3.6 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in e:\buet internship mysoft\hda-buet-vtraining-23\myenv\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
                                              0.0/502.3 kB ? eta -:--:--
     --------------------------             348.2/502.3 kB 7.2 MB/s eta 0:00:01
     -------------------------------------- 502.3/502.3 kB 6.3 MB/s eta 0:00:00
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
                                              0.0/341.8 kB ? eta -:--:--
     -----------------------------------    317.4/341.8 kB 9.9 MB/s eta 0:00:01
     -------------------------------------- 341.8/341.8 kB 7.1 MB/s eta 0:00:00
Collecting numpy>=1.21.0 (from pandas)
  Downloading numpy-1.24.3-cp310-cp310-win_amd64.whl (14.8 MB)
                                              0.0/14.8 MB ? eta -:--:--
                                              0.4/14.8 MB 7.4 MB/s eta 0:00:02
     -                                        0.6/14.8 MB 7.4 MB/s eta 0:00:02
     --                                       0.9/14.8 MB 7.3 MB/s eta 0:00:02
     --                                       1.1/14.8 MB 6.1 MB/s eta 0:00:03
     ---                                      1.2/14.8 MB 5.3 MB/s eta 0:00:03
     ----                                     1.6/14.8 MB 5.8 MB/s eta 0:00:03
     ----                                     1.7/14.8 MB 5.7 MB/s eta 0:00:03
     -----                                    2.1/14.8 MB 5.8 MB/s eta 0:00:03
     ------                                   2.3/14.8 MB 5.5 MB/s eta 0:00:03
     -------                                  2.6/14.8 MB 5.6 MB/s eta 0:00:03
     -------                                  2.9/14.8 MB 5.6 MB/s eta 0:00:03
     --------                                 3.2/14.8 MB 5.6 MB/s eta 0:00:03
     ---------                                3.4/14.8 MB 5.6 MB/s eta 0:00:03
     ---------                                3.7/14.8 MB 5.6 MB/s eta 0:00:02
     -----------                              4.1/14.8 MB 5.9 MB/s eta 0:00:02
     -----------                              4.4/14.8 MB 5.9 MB/s eta 0:00:02
     ------------                             4.7/14.8 MB 5.9 MB/s eta 0:00:02
     -------------                            5.0/14.8 MB 5.9 MB/s eta 0:00:02
     --------------                           5.3/14.8 MB 6.0 MB/s eta 0:00:02
     ---------------                          5.7/14.8 MB 6.1 MB/s eta 0:00:02
     ----------------                         6.0/14.8 MB 6.1 MB/s eta 0:00:02
     -----------------                        6.3/14.8 MB 6.1 MB/s eta 0:00:02
     -----------------                        6.5/14.8 MB 6.1 MB/s eta 0:00:02
     -----------------                        6.5/14.8 MB 6.1 MB/s eta 0:00:02
     -----------------                        6.5/14.8 MB 6.1 MB/s eta 0:00:02
     -----------------                        6.5/14.8 MB 6.1 MB/s eta 0:00:02
     -----------------                        6.5/14.8 MB 6.1 MB/s eta 0:00:02
     ------------------                       6.9/14.8 MB 5.2 MB/s eta 0:00:02
     -------------------                      7.2/14.8 MB 5.3 MB/s eta 0:00:02
     -------------------                      7.2/14.8 MB 5.3 MB/s eta 0:00:02
     -------------------                      7.2/14.8 MB 5.3 MB/s eta 0:00:02
     -------------------                      7.4/14.8 MB 4.9 MB/s eta 0:00:02
     --------------------                     7.7/14.8 MB 5.0 MB/s eta 0:00:02
     --------------------                     7.8/14.8 MB 5.0 MB/s eta 0:00:02
     --------------------                     7.8/14.8 MB 5.0 MB/s eta 0:00:02
     ---------------------                    7.8/14.8 MB 4.6 MB/s eta 0:00:02
     ---------------------                    8.0/14.8 MB 4.6 MB/s eta 0:00:02
     ----------------------                   8.3/14.8 MB 4.6 MB/s eta 0:00:02
     ----------------------                   8.3/14.8 MB 4.6 MB/s eta 0:00:02
     ----------------------                   8.3/14.8 MB 4.4 MB/s eta 0:00:02
     ----------------------                   8.5/14.8 MB 4.4 MB/s eta 0:00:02
     -----------------------                  8.7/14.8 MB 4.4 MB/s eta 0:00:02
     ------------------------                 9.1/14.8 MB 4.5 MB/s eta 0:00:02
     -------------------------                9.3/14.8 MB 4.5 MB/s eta 0:00:02
     -------------------------                9.4/14.8 MB 4.5 MB/s eta 0:00:02
     -------------------------                9.6/14.8 MB 4.5 MB/s eta 0:00:02
     --------------------------               9.9/14.8 MB 4.5 MB/s eta 0:00:02
     ---------------------------              10.1/14.8 MB 4.5 MB/s eta 0:00:02
     ---------------------------              10.3/14.8 MB 4.5 MB/s eta 0:00:02
     ---------------------------              10.4/14.8 MB 4.5 MB/s eta 0:00:02
     -----------------------------            10.9/14.8 MB 4.5 MB/s eta 0:00:01
     ------------------------------           11.1/14.8 MB 4.4 MB/s eta 0:00:01
     ------------------------------           11.3/14.8 MB 4.5 MB/s eta 0:00:01
     ------------------------------           11.4/14.8 MB 4.4 MB/s eta 0:00:01
     -------------------------------          11.7/14.8 MB 4.4 MB/s eta 0:00:01
     --------------------------------         12.0/14.8 MB 4.4 MB/s eta 0:00:01
     ---------------------------------        12.3/14.8 MB 4.4 MB/s eta 0:00:01
     ---------------------------------        12.5/14.8 MB 4.4 MB/s eta 0:00:01
     ----------------------------------       12.7/14.8 MB 4.4 MB/s eta 0:00:01
     -----------------------------------      13.0/14.8 MB 4.4 MB/s eta 0:00:01
     -----------------------------------      13.3/14.8 MB 4.4 MB/s eta 0:00:01
     ------------------------------------     13.5/14.8 MB 4.4 MB/s eta 0:00:01
     ------------------------------------     13.7/14.8 MB 4.3 MB/s eta 0:00:01
     -------------------------------------    13.9/14.8 MB 4.3 MB/s eta 0:00:01
     --------------------------------------   14.2/14.8 MB 4.3 MB/s eta 0:00:01
     ---------------------------------------  14.6/14.8 MB 4.3 MB/s eta 0:00:01
     ---------------------------------------  14.7/14.8 MB 4.3 MB/s eta 0:00:01
     ---------------------------------------  14.8/14.8 MB 4.3 MB/s eta 0:00:01
     ---------------------------------------  14.8/14.8 MB 4.3 MB/s eta 0:00:01
     ---------------------------------------- 14.8/14.8 MB 4.1 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in e:\buet internship mysoft\hda-buet-vtraining-23\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.3 pandas-2.0.1 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

### Importing Packages ###

In [37]:
import psycopg2
import pandas as pd
import psycopg2.extras

### Extract ###

#### Read from excel file ####

In [38]:
fact_table = pd.read_excel(r'E:\Buet Internship Mysoft\HDA-Buet-vtraining-23\e-commerece_data.xlsx', sheet_name='Fact_table', engine='openpyxl')
#fact_table = pd.read_csv(r'C:\Git-Projects\eSRD-Lab\vInternship-Projects\HDA\Fact_data.csv')

In [6]:
fact_table

,payment_key,coustomer_key,time_key,item_key,store_key,quantity,unit,unit_price,total_price
0,P026,C004510,T049189,I00177,S00307,1,ct,35.0,35.0
1,P022,C008967,T041209,I00248,S00595,1,rolls,26.0,26.0
2,P030,C007261,T03633,I00195,S00496,8,ct,12.5,100.0
3,P032,C007048,T084631,I00131,S0086,8,ct,14.0,112.0
4,P014,C006430,T071276,I00050,S00488,8,cans,8.0,64.0
...,...,...,...,...,...,...,...,...,...
999995,P010,C003726,T09247,I00063,S00502,5,cans,40.0,200.0
999996,P021,C002581,T023483,I00252,S00225,1,ct,11.0,11.0
999997,P035,C006133,T039372,I00119,S00555,7,ct,53.0,371.0
999998,P031,C008735,T097975,I00257,S00440,2,ct,21.0,42.0
999999,P032,C004067,T018028,I00044,S00326,10,cans,8.0,80.0

In [2]:
trans_dim = pd.read_excel(r'E:\Buet Internship Mysoft\HDA-Buet-vtraining-23\e-commerece_data.xlsx', sheet_name='Trans_dim', engine='openpyxl')

NameError: name 'pd' is not defined

In [19]:
trans_dim.dtypes
trans_dim

   payment_key trans_type                                          bank_name
0         P001       cash                                                NaN
1         P002       card                                    AB Bank Limited
2         P003       card                   Bangladesh Commerce Bank Limited
3         P004       card                                  Bank Asia Limited
4         P005       card                                  BRAC Bank Limited
5         P006       card                              Citizens Bank Limited
6         P007       card                                  City Bank Limited
7         P008       card                  Community Bank Bangladesh Limited
8         P009       card                                 Dhaka Bank Limited
9         P010       card                          Dutch-Bangla Bank Limited
10        P011       card                               Eastern Bank Limited
11        P012       card                                  IFIC Bank Limited
12        P013       card                                Jamuna Bank Limited
13        P014       card                                Meghna Bank Limited
14        P015       card                            Mercantile Bank Limited
15        P016       card                               Midland Bank Limited
16        P017       card                             Modhumoti Bank Limited
17        P018       card                          Mutual Trust Bank Limited
18        P019       card                              National Bank Limited
19        P020       card            National Credit & Commerce Bank Limited
20        P021       card                                   NRB Bank Limited
21        P022       card                            NRB Commercial Bank Ltd
22        P023       card                                NRB Global Bank Ltd
23        P024       card                                   One Bank Limited
24        P025       card                                 Padma Bank Limited
25        P026       card                               Premier Bank Limited
26        P027       card                                 Prime Bank Limited
27        P028       card                                Pubali Bank Limited
28        P029       card                              Standard Bank Limited
29        P030       card                                  Shimanto Bank Ltd
30        P031       card                             Southeast Bank Limited
31        P032       card  South Bangla Agriculture and Commerce Bank Lim...
32        P033       card                                 Trust Bank Limited
33        P034       card                         United Commercial Bank Ltd
34        P035       card                                Uttara Bank Limited
35        P036       card                         Bengal Commercial Bank Ltd
36        P037     mobile                                              Bkash
37        P038     mobile                                             Rocket
38        P039     mobile                                              Nagad

In [40]:
item_dim = pd.read_excel(r'E:\Buet Internship Mysoft\HDA-Buet-vtraining-23\e-commerece_data.xlsx', sheet_name='Item_dim', engine='openpyxl')

In [21]:
item_dim
# item_dim.dtypes

,item_key,item_name,desc,unit_price,man_country,supplier,unit
0,I00001,A&W Root Beer - 12 oz cans,a. Beverage - Soda,11.50,Netherlands,Bolsius Boxmeer,cans
1,I00002,A&W Root Beer Diet - 12 oz cans,a. Beverage - Soda,6.75,poland,CHROMADURLIN S.A.S,cans
2,I00003,Barq's Root Beer - 12 oz cans,a. Beverage - Soda,6.75,Bangladesh,DENIMACH LTD,cans
3,I00004,Cherry Coke 12oz,a. Beverage - Soda,6.75,Netherlands,Bolsius Boxmeer,cans
4,I00005,Cherry Coke Zero 12 pack,a. Beverage - Soda,6.75,Finland,HARDFORD AB,cans
...,...,...,...,...,...,...,...
259,I00260,Napkins Square Lunch,Kitchen Supplies,15.00,Cambodia,NINGBO SEDUNO IMP & EXP CO.LTD,ct
260,I00261,POM 2 ply paper towels,Kitchen Supplies,33.00,Lithuania,BIGSO AB,ct
261,I00262,Strong Everyday Napkins,Kitchen Supplies,14.00,Netherlands,Bolsius Boxmeer,ct
262,I00263,Advil 2 pill packets,Medicine,14.00,Lithuania,BIGSO AB,Ct
263,I00264,Tylenol Extra Strength 2 pill packets,Medicine,15.00,India,Indo Count Industries Ltd,Ct

In [41]:
customer_dim = pd.read_excel(r'E:\Buet Internship Mysoft\HDA-Buet-vtraining-23\e-commerece_data.xlsx', sheet_name='Coustomer_dim', engine='openpyxl')
# customer_dim = pd.read_csv(r'D:\HDA vinternship Buet\dataset\Coustomer_dim.csv')

In [22]:
customer_dim

     coustomer_key             name     contact_no            nid
0          C000001            sumit  8801920345851  7505075708899
1          C000002         tammanne  8801817069329  1977731324842
2          C000003    kailash kumar  8801663795774  3769494056318
3          C000004  bhagwati prasad  8801533627961  9378834712725
4          C000005             ajay  8801943715786  3540815556323
...            ...              ...            ...            ...
9186       C009187        smt radha  8801563029753  1057824928189
9187       C009188     tulsi sharma  8801794982266  7970880905205
9188       C009189        madhubala  8801890032435  3101930298150
9189       C009190       pintu devi  8801563290767  7234328323528
9190       C009191            roopa  8801524507359  5682728390307

[9191 rows x 4 columns]

In [42]:
time_dim = pd.read_excel(r'E:\Buet Internship Mysoft\HDA-Buet-vtraining-23\e-commerece_data.xlsx', sheet_name='Time_dim', engine='openpyxl')

In [23]:
time_dim

      time_key              date  hour  day      week  month quarter  year
0       T00001  20-05-2017 14:56    14   20  3rd Week      5      Q2  2017
1       T00002  30-01-2015 22:14    22   30  4th Week      1      Q1  2015
2       T00003  14-03-2020 02:34     2   14  2nd Week      3      Q1  2020
3       T00004  27-04-2018 12:19    12   27  4th Week      4      Q2  2018
4       T00005  14-04-2018 10:43    10   14  2nd Week      4      Q2  2018
...        ...               ...   ...  ...       ...    ...     ...   ...
99994  T099995  04-01-2015 17:22    17    4  1st Week      1      Q1  2015
99995  T099996  17-01-2015 21:09    21   17  3rd Week      1      Q1  2015
99996  T099997  23-01-2020 14:42    14   23  4th Week      1      Q1  2020
99997  T099998  31-10-2015 13:52    13   31  4th Week     10      Q4  2015
99998  T099999  08-06-2017 08:59     8    8  2nd Week      6      Q2  2017

[99999 rows x 8 columns]

In [67]:
time_dim.dtypes

time_key    object
date        object
hour         int64
day          int64
week        object
month        int64
quarter     object
year         int64
dtype: object

In [43]:
store_dim = pd.read_excel(r'E:\Buet Internship Mysoft\HDA-Buet-vtraining-23\e-commerece_data.xlsx', sheet_name='Store_dim', engine='openpyxl')

In [24]:
store_dim

    store_key division  district                  upazila
0       S0001   SYLHET  HABIGANJ               AJMIRIGANJ
1       S0002   SYLHET  HABIGANJ                  BAHUBAL
2       S0003   SYLHET  HABIGANJ               BANIACHONG
3       S0004   SYLHET  HABIGANJ              CHUNARUGHAT
4       S0005   SYLHET  HABIGANJ           HABIGANJ SADAR
..        ...      ...       ...                      ...
721    S00722  BARISAL   BARISAL                    HIZLA
722    S00723  BARISAL   BARISAL  BARISAL SADAR (KOTWALI)
723    S00724  BARISAL   BARISAL              MEHENDIGANJ
724    S00725  BARISAL   BARISAL                   MULADI
725    S00726  BARISAL   BARISAL                 WAZIRPUR

[726 rows x 4 columns]

### Transform ###

In [76]:
item_dim['unit_price'] = pd.to_numeric(item_dim['unit_price'])
item_dim.dtypes

item_key        object
item_name       object
desc            object
unit_price     float64
man_country     object
supplier        object
unit            object
dtype: object

In [77]:
time_dim['date'] = time_dim['date'].astype('datetime64[ns]')
time_dim.dtypes
# time_dim

time_key            object
date        datetime64[ns]
hour                 int64
day                  int64
week                object
month                int64
quarter             object
year                 int64
dtype: object

In [78]:
fact_table['unit_price'] = pd.to_numeric(fact_table['unit_price'])
fact_table['total_price'] = pd.to_numeric(fact_table['total_price'])
fact_table.dtypes

payment_key       object
coustomer_key     object
time_key          object
item_key          object
store_key         object
quantity           int64
unit              object
unit_price       float64
total_price      float64
dtype: object

### Load ###

#### Connect to DB ####

In [87]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="ecomdb",
                                           user = "postgres",
                                           password = "suPer2k23",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("Connection to DB established!")
        return self.connection

In [88]:
con = PostgresConnection().getConnection()

Connection to DB established!

#### Insert Data into tables #####

In [98]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO ecomdb_star_schema.trans_dim(payment_key, trans_type, bank_name)" \
            " VALUES (%s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, trans_dim.values)
con.commit()
cur.close()

Connection to DB established!

UniqueViolation: duplicate key value violates unique constraint "pk_5"
DETAIL:  Key (payment_key)=(P001) already exists.

In [ ]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO ecomdb_star_schema.store_dim( store_key, division, district, upazila) VALUES (%s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, store_dim.values)
con.commit()
cur.close()

In [ ]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO ecomdb_star_schema.item_dim( item_key, item_name, description, unit_price, man_country, supplier, unit) VALUES (%s, %s, %s, %s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, item_dim.values)
con.commit()
cur.close()

In [ ]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO ecomdb_star_schema.customer_dim(customer_key, name, contact_noint, nid)VALUES (%s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, customer_dim.values)
con.commit()
cur.close()

In [ ]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO ecomdb_star_schema.time_dim(time_key, t_date, hour, day, week, month, quarter, year)VALUES (%s, %s, %s, %s, %s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, time_dim.values)
con.commit()
cur.close()

In [ ]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO ecomdb_star_schema.fact_table(payment_key, customer_key, time_key, item_key, store_key, quantity, unit, unit_price, total_price)VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, fact_table.values)
con.commit()
cur.close()

In [99]:
con = PostgresConnection().getConnection()
select_stmt = "Select * FROM ecomdb_star_schema.trans_dim"
cur = con.cursor()
cur.execute(select_stmt)
res = cur.fetchall()
cur.close()

Connection to DB established!

In [100]:
res

[('P001', 'cash', 'NaN'),
 ('P002', 'card', 'AB Bank Limited'),
 ('P003', 'card', 'Bangladesh Commerce Bank Limited'),
 ('P004', 'card', 'Bank Asia Limited'),
 ('P005', 'card', 'BRAC Bank Limited'),
 ('P006', 'card', 'Citizens Bank Limited'),
 ('P007', 'card', 'City Bank Limited'),
 ('P008', 'card', 'Community Bank Bangladesh Limited'),
 ('P009', 'card', 'Dhaka Bank Limited'),
 ('P010', 'card', 'Dutch-Bangla Bank Limited'),
 ('P011', 'card', 'Eastern Bank Limited'),
 ('P012', 'card', 'IFIC Bank Limited'),
 ('P013', 'card', 'Jamuna Bank Limited'),
 ('P014', 'card', 'Meghna Bank Limited'),
 ('P015', 'card', 'Mercantile Bank Limited'),
 ('P016', 'card', 'Midland Bank Limited'),
 ('P017', 'card', 'Modhumoti Bank Limited'),
 ('P018', 'card', 'Mutual Trust Bank Limited'),
 ('P019', 'card', 'National Bank Limited'),
 ('P020', 'card', 'National Credit & Commerce Bank Limited'),
 ('P021', 'card', 'NRB Bank Limited'),
 ('P022', 'card', 'NRB Commercial Bank Ltd'),
 ('P023', 'card', 'NRB Global Bank Ltd'),
 ('P024', 'card', 'One Bank Limited'),
 ('P025', 'card', 'Padma Bank Limited'),
 ('P026', 'card', 'Premier Bank Limited'),
 ('P027', 'card', 'Prime Bank Limited'),
 ('P028', 'card', 'Pubali Bank Limited'),
 ('P029', 'card', 'Standard Bank Limited'),
 ('P030', 'card', 'Shimanto Bank Ltd'),
 ('P031', 'card', 'Southeast Bank Limited'),
 ('P032', 'card', 'South Bangla Agriculture and Commerce Bank Limited'),
 ('P033', 'card', 'Trust Bank Limited'),
 ('P034', 'card', 'United Commercial Bank Ltd'),
 ('P035', 'card', 'Uttara Bank Limited'),
 ('P036', 'card', 'Bengal Commercial Bank Ltd'),
 ('P037', 'mobile', 'Bkash'),
 ('P038', 'mobile', 'Rocket'),
 ('P039', 'mobile', 'Nagad')]