In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in d:\virtualtraining\myenv\lib\site-packages (2.9.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in d:\virtualtraining\myenv\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in d:\virtualtraining\myenv\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas

Requirement already satisfied: pandas in d:\virtualtraining\myenv\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\virtualtraining\myenv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\virtualtraining\myenv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in d:\virtualtraining\myenv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in d:\virtualtraining\myenv\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in d:\virtualtraining\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Importing Packages

In [4]:
import psycopg2
import pandas as pd
import psycopg2.extras

# Extract

In [8]:
fact_table = pd.read_csv(r'D:\virtualTraining\HDA-Buet-vtraining-23\Health Dataset\fact_sales.csv')

In [9]:
fact_table

,_id,pik,time_key,geo_key,hospital_key,lab_key,test_key,sales_price
0,1,F1926jvorfrrglahvcrnouosvspqsp,20190708,204667,100001,10003,10490,1030
1,2,F1926jvorfrrglahvcrnouosvspqsp,20190708,204667,100001,10043,10156,1210
2,3,F1926jvorfrrglahvcrnouosvspqsp,20190708,204667,100001,10043,10257,430
3,4,F1926jvorfrrglahvcrnouosvspqsp,20190708,204667,100001,10043,10822,1210
4,5,F1926jvorfrrglahvcrnouosvspqsp,20190708,204667,100001,10043,10899,480
...,...,...,...,...,...,...,...,...
92078,92079,M2018xvncrvcrnouoosrrvvn,20200301,302650,100001,10051,10531,1100
92079,92080,M2018xvncrvcrnouoosrrvvn,20200301,302650,100001,10053,10157,850
92080,92081,M2018xvncrvcrnouoosrrvvn,20200301,302650,100001,10058,10617,310
92081,92082,M2018xwrrefhpplrnounruupuws,20190911,207585,100001,10048,10655,400
92082,92083,M2018xwrrefhpplrnounruupuws,20190911,207585,100001,10051,10231,500

In [10]:
geography_dim = pd.read_csv(r'D:\virtualTraining\HDA-Buet-vtraining-23\Health Dataset\dim_geography.csv')

In [11]:
geography_dim

     geo_key                 upazila  district division
0     603602              AJMIRIGANJ  HABIGANJ   SYLHET
1     603605                 BAHUBAL  HABIGANJ   SYLHET
2     603611              BANIACHONG  HABIGANJ   SYLHET
3     603626             CHUNARUGHAT  HABIGANJ   SYLHET
4     603644          HABIGANJ SADAR  HABIGANJ   SYLHET
..       ...                     ...       ...      ...
551   107958               MATHBARIA  PIROJPUR  BARISAL
552   107976                NAZIRPUR  PIROJPUR  BARISAL
553   107980          PIROJPUR SADAR  PIROJPUR  BARISAL
554   107987  NESARABAD (SWARUPKATI)  PIROJPUR  BARISAL
555   107990                ZIANAGAR  PIROJPUR  BARISAL

[556 rows x 4 columns]

In [12]:
hospital_dim = pd.read_csv(r'D:\virtualTraining\HDA-Buet-vtraining-23\Health Dataset\dim_hospital.csv')

In [13]:
hospital_dim

,hospital_key,hospital_name,branch_name,hospital_type,email,website,address,geo_code,city,upazila,district,division
0,100001,BANGLADESH EYE HOSPITAL LTD.,Dhanmondi,Private,info@bdeyehospital.com,www.mysoftltd.com,"78, Satmasjid Road (Road#27), Dhanmondi,",302616,DHAKA,DHANMONDI,DHAKA,DHAKA
1,100002,BANGLADESH EYE HOSPITAL LTD(Mirpur),Mirpur,Private,info@bdeyehospital.com,www.mysoftltd.com,Mirpur,302648,DHAKA,MIRPUR,DHAKA,DHAKA
2,100003,BANGLADESH EYE HOSPITAL LTD(Uttara),Uttara,Private,info@bdeyehospital.com,www.mysoftltd.com,Uttara,302694,DHAKA,UTTARA PASCHIM,DHAKA,DHAKA

In [14]:
lab_dim = pd.read_csv(r'D:\virtualTraining\HDA-Buet-vtraining-23\Health Dataset\dim_lab.csv')

In [15]:
lab_dim

     lab_key                     lab_name  lab_type lab_code lab_desc
0      10001               ADMINISTRATION         1      679     DESC
1      10002                      Urology         1     0037     DESC
2      10003                     Serology         1     0008     DESC
3      10004            AMBULANCE SERVICE         1     0057     DESC
4      10005                          USG         1     0012     DESC
..       ...                          ...       ...      ...      ...
236    10237  Nursing Service (Technical)         1   BSH096     DESC
237    10238                     MEDICINE         1     MED1     DESC
238    10239                   OPD DOCTOR         1     D002     DESC
239    10240                         Maha         1   Maha01     DESC
240    10241               Oncology test          1     on01     DESC

[241 rows x 5 columns]

In [16]:
test_dim = pd.read_csv(r'D:\virtualTraining\HDA-Buet-vtraining-23\Health Dataset\dim_test.csv')

In [17]:
test_dim

,test_key,test_name,test_code,specimen,ct_ref,test_desc
0,10002,Pus for Fungus,1988,PUS,BSH,Desc
1,10003,Drain Fluid for Bilirubin,00885,FLUID,BSH,Desc
2,10004,NASAL SWAB FOR KLB,0705,Not Found,BSH,Desc
3,10005,X-Pert MTB/RIF assay by archived gastric Aspi...,0706,TRACHEAL ASPIRATE,BSH,Desc
4,10006,Anti-Filaria Ab IgG4,0192,BLOOD,BSH,Desc
...,...,...,...,...,...,...
1130,10011,Pleural Fluid for Malignant Cell,1486,PLEURAL FLUID,BSH,A malignant pleural effusion (MPE) is the buil...
1131,10693,FBG - Fasting blood glucose,0031,BLOOD,SNOMED CT,Desc
1132,10453,RBG - Random blood glucose,0030,BLOOD,SNOMED CT,Desc
1133,10259,Blood calcium level,0237,BLOOD,SNOMED CT,Desc
1134,10899,Serum creatinine level,0036,BLOOD,SNOMED CT,Desc

In [18]:
time_dim = pd.read_csv(r'D:\virtualTraining\HDA-Buet-vtraining-23\Health Dataset\dim_time.csv')

In [20]:
time_dim.dtypes

time_key      int64
date_time    object
year          int64
month         int64
day           int64
yyyymm        int64
yyyymmdd      int64
quarter      object
dtype: object

In [23]:
#TRANSFORM
time_dim['date_time'] = time_dim['date_time'].astype('datetime64[ns]')
time_dim.dtypes

time_key              int64
date_time    datetime64[ns]
year                  int64
month                 int64
day                   int64
yyyymm                int64
yyyymmdd              int64
quarter              object
dtype: object

In [24]:
fact_table.dtypes

_id              int64
pik             object
time_key         int64
geo_key          int64
hospital_key     int64
lab_key          int64
test_key         int64
sales_price      int64
dtype: object

In [26]:
fact_table['sales_price'] = pd.to_numeric(fact_table['sales_price'])
fact_table.dtypes

_id              int64
pik             object
time_key         int64
geo_key          int64
hospital_key     int64
lab_key          int64
test_key         int64
sales_price      int64
dtype: object

# LOAD

# CONNECT TO DB

In [27]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="hospitaldb",
                                           user = "postgres",
                                           password = "chanyeol",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("Connection to DB established!")
        return self.connection

In [28]:
con = PostgresConnection().getConnection()

Connection to DB established!

# Insert Data Into Tables

In [29]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.geography_dim(geo_key, upazila, district , division)" \
            " VALUES (%s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, geography_dim.values)
con.commit()
cur.close()

Connection to DB established!

In [31]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.hospital_dim(hospital_key, hospital_name, branch_name , hospital_type, email, website,address,geocode,city,upazila,district,division)" \
            " VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, hospital_dim.values)
con.commit()
cur.close()

Connection to DB established!

In [33]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.lab_dim(lab_key, lab_name,lab_type,lab_code,lab_desc)" \
            " VALUES (%s, %s, %s, %s,%s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, lab_dim.values)
con.commit()
cur.close()

Connection to DB established!

In [36]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.test_dim(test_key, test_name,test_code,specimen,ct_ref,test_desc)" \
            " VALUES (%s, %s, %s, %s,%s,%s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, test_dim.values)
con.commit()
cur.close()

Connection to DB established!

In [37]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.time_dim(time_key, date_time,year,month,day,yyyymm,yyyymmdd,quarter)" \
            " VALUES (%s, %s, %s, %s,%s,%s,%s,%s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, time_dim.values)
con.commit()
cur.close()

Connection to DB established!

In [38]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.fact_table(_id,pik,time_key, geo_key, hospital_key, lab_key, test_key, sales_price)VALUES (%s, %s, %s, %s, %s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, fact_table.values)
con.commit()
cur.close()

Connection to DB established!