In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in e:\buet internship mysoft\hda-buet-vtraining-23\myenv\lib\site-packages (2.9.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in e:\buet internship mysoft\hda-buet-vtraining-23\myenv\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in e:\buet internship mysoft\hda-buet-vtraining-23\myenv\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas

Requirement already satisfied: pandas in e:\buet internship mysoft\hda-buet-vtraining-23\myenv\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\buet internship mysoft\hda-buet-vtraining-23\myenv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in e:\buet internship mysoft\hda-buet-vtraining-23\myenv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in e:\buet internship mysoft\hda-buet-vtraining-23\myenv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in e:\buet internship mysoft\hda-buet-vtraining-23\myenv\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in e:\buet internship mysoft\hda-buet-vtraining-23\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import psycopg2
import pandas as pd
import psycopg2.extras
import matplotlib.pyplot as plt

In [5]:
lab_dim = pd.read_csv(r'E:\Buet Internship Mysoft\HDA-Buet-vtraining-23\dim_lab.csv')

In [6]:
lab_dim.dtypes
lab_dim

     lab_key                     lab_name  lab_type lab_code lab_desc
0      10001               ADMINISTRATION         1      679     DESC
1      10002                      Urology         1     0037     DESC
2      10003                     Serology         1     0008     DESC
3      10004            AMBULANCE SERVICE         1     0057     DESC
4      10005                          USG         1     0012     DESC
..       ...                          ...       ...      ...      ...
236    10237  Nursing Service (Technical)         1   BSH096     DESC
237    10238                     MEDICINE         1     MED1     DESC
238    10239                   OPD DOCTOR         1     D002     DESC
239    10240                         Maha         1   Maha01     DESC
240    10241               Oncology test          1     on01     DESC

[241 rows x 5 columns]

In [7]:
test_dim = pd.read_csv(r'E:\Buet Internship Mysoft\HDA-Buet-vtraining-23\dim_test.csv')

In [8]:
test_dim.dtypes
test_dim

,test_key,test_name,test_code,specimen,ct_ref,test_desc
0,10002,Pus for Fungus,1988,PUS,BSH,Desc
1,10003,Drain Fluid for Bilirubin,00885,FLUID,BSH,Desc
2,10004,NASAL SWAB FOR KLB,0705,Not Found,BSH,Desc
3,10005,X-Pert MTB/RIF assay by archived gastric Aspi...,0706,TRACHEAL ASPIRATE,BSH,Desc
4,10006,Anti-Filaria Ab IgG4,0192,BLOOD,BSH,Desc
...,...,...,...,...,...,...
1130,10011,Pleural Fluid for Malignant Cell,1486,PLEURAL FLUID,BSH,A malignant pleural effusion (MPE) is the buil...
1131,10693,FBG - Fasting blood glucose,0031,BLOOD,SNOMED CT,Desc
1132,10453,RBG - Random blood glucose,0030,BLOOD,SNOMED CT,Desc
1133,10259,Blood calcium level,0237,BLOOD,SNOMED CT,Desc
1134,10899,Serum creatinine level,0036,BLOOD,SNOMED CT,Desc

In [9]:
geography_dim = pd.read_csv(r'E:\Buet Internship Mysoft\HDA-Buet-vtraining-23\dim_geography.csv')

In [10]:
time_dim = pd.read_csv(r'E:\Buet Internship Mysoft\HDA-Buet-vtraining-23\dim_time.csv')

In [11]:
hospital_dim = pd.read_csv(r'E:\Buet Internship Mysoft\HDA-Buet-vtraining-23\dim_hospital.csv')

In [23]:
fact_table = pd.read_csv(r'E:\Buet Internship Mysoft\HDA-Buet-vtraining-23\fact_sales.csv')

In [24]:
fact_table['sales_price'] = pd.to_numeric(fact_table['sales_price'])
fact_table['pik'] = fact_table['pik'].astype('object')
fact_table['geo_key'] = fact_table['geo_key'].astype('object')
fact_table['lab_key'] = fact_table['lab_key'].astype('object')
fact_table['test_key'] = fact_table['test_key'].astype('object')
fact_table['time_key'] = fact_table['time_key'].astype('object')
fact_table['hospital_key'] = fact_table['hospital_key'].astype('object')
fact_table.dtypes

pik             object
time_key        object
geo_key         object
hospital_key    object
lab_key         object
test_key        object
sales_price      int64
dtype: object

In [25]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="hddb",
                                           user = "postgres",
                                           password = "suPer2k23",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("Connection to DB established!")
        return self.connection

In [26]:
con = PostgresConnection().getConnection()

Connection to DB established!

In [17]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO hddb_star_schema.lab_dim( lab_key, lab_name, lab_type, lab_code, lab_desc) VALUES (%s, %s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, lab_dim.values)
con.commit()
cur.close()

Connection to DB established!

In [19]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO hddb_star_schema.hospital_dim( hospital_key, hospital_name, branch_name, hospital_type, email, website, address, geo_code, city, upazila, district, division  ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, hospital_dim.values)
con.commit()
cur.close()

Connection to DB established!

In [20]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO hddb_star_schema.geography_dim( geo_key, upazila, district, division) VALUES (%s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, geography_dim.values)
con.commit()
cur.close()

Connection to DB established!

In [21]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO hddb_star_schema.test_dim( test_key, test_name, test_code, specimen, ct_ref, test_desc) VALUES (%s, %s, %s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, test_dim.values)
con.commit()
cur.close()

Connection to DB established!

In [23]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO hddb_star_schema.time_dim( time_key, date_time, year, month, day, yyyymm, yyyymmdd, quarter) VALUES (%s, %s, %s, %s, %s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, time_dim.values)
con.commit()
cur.close()

Connection to DB established!

In [ ]:
fact_table.dtypes

In [27]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO hddb_star_schema.fact_table( pik, time_key, geo_key, hospital_key, lab_key, test_key, sales_price) VALUES (%s, %s, %s, %s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, fact_table.values)
con.commit()
cur.close()

Connection to DB established!

# 1. Find Hospital wise sales

In [31]:
con = PostgresConnection().getConnection()
cur = con.cursor()
select_stmt = "SELECT h.hospital_name, SUM(ft.sales_price) as sales "\
"FROM hddb_star_schema.fact_table ft "\
"JOIN hddb_star_schema.hospital_dim h ON h.hospital_key = ft.hospital_key "\
"GROUP BY CUBE(h.hospital_name) "\
"ORDER BY h.hospital_name "
cur.execute(select_stmt)
records = cur.fetchall()

Connection to DB established!

In [32]:
records

[('BANGLADESH EYE HOSPITAL LTD.', Decimal('87154050')),
 (None, Decimal('87154050'))]

# 2. Find district wise sales in Bangladesh Eye Hospital Ltd.

In [49]:
con = PostgresConnection().getConnection()
cur = con.cursor()
select_stmt = "SELECT g.division, SUM(ft.sales_price) as sales "\
"FROM hddb_star_schema.fact_table ft "\
"JOIN hddb_star_schema.hospital_dim h ON h.hospital_key = ft.hospital_key "\
"JOIN hddb_star_schema.geography_dim g ON g.geo_key = ft.geo_key "\
"WHERE ft.hospital_key = '100001' "\
"GROUP BY CUBE(g.division) "

cur.execute(select_stmt)
records = cur.fetchall()

Connection to DB established!

In [50]:
records

[(None, Decimal('87154050')),
 ('RAJSHAHI', Decimal('5447120')),
 ('DHAKA', Decimal('55565810')),
 ('CHITTAGONG', Decimal('9669200')),
 ('BARISAL', Decimal('3430130')),
 ('KHULNA', Decimal('4851240')),
 ('RANGPUR', Decimal('4758500')),
 ('SYLHET', Decimal('3432050'))]

In [51]:
division_wise = pd.DataFrame(records, columns=['division', 'sales'])
division_wise

     division     sales
0        None  87154050
1    RAJSHAHI   5447120
2       DHAKA  55565810
3  CHITTAGONG   9669200
4     BARISAL   3430130
5      KHULNA   4851240
6     RANGPUR   4758500
7      SYLHET   3432050

In [54]:
def changetype(x):
    x['sales']=x['sales'].astype('float64')

In [55]:
changetype(division_wise)
division_wise.dtypes

division     object
sales       float64
dtype: object

In [56]:
sorted_sales = division_wise
sorted_sales.sort_values(by=['sales'],inplace=True,ascending=False)
sorted_sales

     division       sales
0        None  87154050.0
2       DHAKA  55565810.0
3  CHITTAGONG   9669200.0
1    RAJSHAHI   5447120.0
5      KHULNA   4851240.0
6     RANGPUR   4758500.0
7      SYLHET   3432050.0
4     BARISAL   3430130.0

In [57]:
top_sales = sorted_sales[1:6]
top_sales

     division       sales
2       DHAKA  55565810.0
3  CHITTAGONG   9669200.0
1    RAJSHAHI   5447120.0
5      KHULNA   4851240.0
6     RANGPUR   4758500.0

In [58]:
plt.figure(figsize=(10,8))
plots = sns.barplot(x=top_sales['division'],y=top_sales['sales'],palette="Set2")

for bar in plots.patches:
    plots.annotate(format(bar.get_height(),'.2f'),
                   (bar.get_x() + bar.get_width()/2,
                   bar.get_height()),ha='center',va='center',
                   size=15,xytext=(0, 8),
                   textcoords='offset points')
    
                   
                  
plt.xlabel('Division')
plt.ylabel('sales')
plt.title('Division wise sales of Bangladesh Eye Hospital Ltd')                        
plt.show()

NameError: name 'plt' is not defined