### Package Installation ###

In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in f:\vint1\hda-buet-vtraining-23\myenv\lib\site-packages (2.9.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in f:\vint1\hda-buet-vtraining-23\myenv\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in f:\vint1\hda-buet-vtraining-23\myenv\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install pandas

Requirement already satisfied: pandas in f:\vint1\hda-buet-vtraining-23\myenv\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in f:\vint1\hda-buet-vtraining-23\myenv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in f:\vint1\hda-buet-vtraining-23\myenv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in f:\vint1\hda-buet-vtraining-23\myenv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in f:\vint1\hda-buet-vtraining-23\myenv\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in f:\vint1\hda-buet-vtraining-23\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

### Importing Packages ###

In [4]:
import psycopg2
import pandas as pd
import psycopg2.extras

### Extract ###

#### Read from excel file ####

In [9]:
#fact_sales = pd.read_excel(r'F:\VInt1\HDA-Buet-vtraining-23\notebook\Health Dataset\fact_sales.xlsx', sheet_name='fact_fales', engine='openpyxl')
fact_sales = pd.read_csv(r'F:\VInt1\HDA-Buet-vtraining-23\notebook\Health Dataset\fact_sales.csv')

In [10]:
fact_sales

,pik,time_key,geo_key,hospital_key,lab_key,test_key,sales_price
0,F1926jvorfrrglahvcrnouosvspqsp,20190708,204667,100001,10003,10490,1030
1,F1926jvorfrrglahvcrnouosvspqsp,20190708,204667,100001,10043,10156,1210
2,F1926jvorfrrglahvcrnouosvspqsp,20190708,204667,100001,10043,10257,430
3,F1926jvorfrrglahvcrnouosvspqsp,20190708,204667,100001,10043,10822,1210
4,F1926jvorfrrglahvcrnouosvspqsp,20190708,204667,100001,10043,10899,480
...,...,...,...,...,...,...,...
92078,M2018xvncrvcrnouoosrrvvn,20200301,302650,100001,10051,10531,1100
92079,M2018xvncrvcrnouoosrrvvn,20200301,302650,100001,10053,10157,850
92080,M2018xvncrvcrnouoosrrvvn,20200301,302650,100001,10058,10617,310
92081,M2018xwrrefhpplrnounruupuws,20190911,207585,100001,10048,10655,400
92082,M2018xwrrefhpplrnounruupuws,20190911,207585,100001,10051,10231,500

In [11]:
dim_geography = pd.read_csv(r'F:\VInt1\HDA-Buet-vtraining-23\notebook\Health Dataset\dim_geography.csv')

In [12]:
dim_geography.dtypes
dim_geography

     geo_key                 upazila  district division
0     603602              AJMIRIGANJ  HABIGANJ   SYLHET
1     603605                 BAHUBAL  HABIGANJ   SYLHET
2     603611              BANIACHONG  HABIGANJ   SYLHET
3     603626             CHUNARUGHAT  HABIGANJ   SYLHET
4     603644          HABIGANJ SADAR  HABIGANJ   SYLHET
..       ...                     ...       ...      ...
551   107958               MATHBARIA  PIROJPUR  BARISAL
552   107976                NAZIRPUR  PIROJPUR  BARISAL
553   107980          PIROJPUR SADAR  PIROJPUR  BARISAL
554   107987  NESARABAD (SWARUPKATI)  PIROJPUR  BARISAL
555   107990                ZIANAGAR  PIROJPUR  BARISAL

[556 rows x 4 columns]

In [13]:
dim_hospital = pd.read_csv(r'F:\VInt1\HDA-Buet-vtraining-23\notebook\Health Dataset\dim_hospital.csv')

In [14]:
dim_hospital
# item_dim.dtypes

,hospital_key,hospital_name,branch_name,hospital_type,email,website,address,geo_code,city,upazila,district,division
0,100001,BANGLADESH EYE HOSPITAL LTD.,Dhanmondi,Private,info@bdeyehospital.com,www.mysoftltd.com,"78, Satmasjid Road (Road#27), Dhanmondi,",302616,DHAKA,DHANMONDI,DHAKA,DHAKA
1,100002,BANGLADESH EYE HOSPITAL LTD(Mirpur),Mirpur,Private,info@bdeyehospital.com,www.mysoftltd.com,Mirpur,302648,DHAKA,MIRPUR,DHAKA,DHAKA
2,100003,BANGLADESH EYE HOSPITAL LTD(Uttara),Uttara,Private,info@bdeyehospital.com,www.mysoftltd.com,Uttara,302694,DHAKA,UTTARA PASCHIM,DHAKA,DHAKA

In [15]:
dim_lab = pd.read_csv(r'F:\VInt1\HDA-Buet-vtraining-23\notebook\Health Dataset\dim_lab.csv')
# customer_dim = pd.read_csv(r'D:\HDA vinternship Buet\dataset\Coustomer_dim.csv')

In [16]:
dim_lab

     lab_key                     lab_name  lab_type lab_code lab_desc
0      10001               ADMINISTRATION         1      679     DESC
1      10002                      Urology         1     0037     DESC
2      10003                     Serology         1     0008     DESC
3      10004            AMBULANCE SERVICE         1     0057     DESC
4      10005                          USG         1     0012     DESC
..       ...                          ...       ...      ...      ...
236    10237  Nursing Service (Technical)         1   BSH096     DESC
237    10238                     MEDICINE         1     MED1     DESC
238    10239                   OPD DOCTOR         1     D002     DESC
239    10240                         Maha         1   Maha01     DESC
240    10241               Oncology test          1     on01     DESC

[241 rows x 5 columns]

In [17]:
dim_test = pd.read_csv(r'F:\VInt1\HDA-Buet-vtraining-23\notebook\Health Dataset\dim_test.csv')

In [18]:
dim_test

,test_key,test_name,test_code,specimen,ct_ref,test_desc
0,10002,Pus for Fungus,1988,PUS,BSH,Desc
1,10003,Drain Fluid for Bilirubin,885,FLUID,BSH,Desc
2,10004,NASAL SWAB FOR KLB,705,Not Found,BSH,Desc
3,10005,X-Pert MTB/RIF assay by archived gastric Aspi...,706,TRACHEAL ASPIRATE,BSH,Desc
4,10006,Anti-Filaria Ab IgG4,192,BLOOD,BSH,Desc
...,...,...,...,...,...,...
1130,10011,Pleural Fluid for Malignant Cell,1486,PLEURAL FLUID,BSH,A malignant pleural effusion (MPE) is the buil...
1131,10693,FBG - Fasting blood glucose,31,BLOOD,SNOMED CT,Desc
1132,10453,RBG - Random blood glucose,30,BLOOD,SNOMED CT,Desc
1133,10259,Blood calcium level,237,BLOOD,SNOMED CT,Desc
1134,10899,Serum creatinine level,36,BLOOD,SNOMED CT,Desc

In [34]:
#path= '/content/drive/MyDrive/H1_ASK_Raw.csv'
dateparse = lambda dates: pd.datetime.strptime(dates, '%d/%m/%Y')
#df = pd.read_csv(path,sep=',', index_col='Date', parse_dates=['Gmt time'], date_parser=dateparse).fillna(0)
#df.head()


dim_time = pd.read_csv(r'F:\VInt1\HDA-Buet-vtraining-23\notebook\Health Dataset\dim_time.csv')

In [35]:
dim_time.head(6)

   time_key  date_time  year  month  day  yyyymm  yyyymmdd quarter
0  20190907   7/9/2019  2019      9    7  201909  20190907      Q3
1  20190908   8/9/2019  2019      9    8  201909  20190908      Q3
2  20190909   9/9/2019  2019      9    9  201909  20190909      Q3
3  20190911  11/9/2019  2019      9   11  201909  20190911      Q3
4  20190912  12/9/2019  2019      9   12  201909  20190912      Q3
5  20190913  13/9/2019  2019      9   13  201909  20190913      Q3

### Transform ###

In [22]:
fact_sales['sales_price'] = pd.to_numeric(fact_sales['sales_price'])

In [23]:
dim_time['year'] = pd.to_numeric(dim_time['year'])
dim_time['month'] = pd.to_numeric(dim_time['month'])
dim_time['day'] = pd.to_numeric(dim_time['day'])
dim_time.dtypes

time_key      int64
date_time    object
year          int64
month         int64
day           int64
yyyymm        int64
yyyymmdd      int64
quarter      object
dtype: object

In [43]:
#dim_time['date_time'] = pd.to_datetime(dim_time['date_time'], format='%d/%m/%y')
dim_time['date_time'] = pd.to_datetime(dim_time['date_time'], dayfirst=True)
#dim_time['date_time'] = dim_time['date_time'].astype('datetime64[ns]')
#df['sale_date'] = pd.to_datetime(df['sale_date'], dayfirst=True)
dim_time.dtypes
dim_time

     time_key  date_time  year  month  day  yyyymm  yyyymmdd quarter
0    20190907 2019-09-07  2019      9    7  201909  20190907      Q3
1    20190908 2019-09-08  2019      9    8  201909  20190908      Q3
2    20190909 2019-09-09  2019      9    9  201909  20190909      Q3
3    20190911 2019-09-11  2019      9   11  201909  20190911      Q3
4    20190912 2019-09-12  2019      9   12  201909  20190912      Q3
..        ...        ...   ...    ...  ...     ...       ...     ...
555  20190318 2019-03-18  2019      3   18  201903  20190318      Q1
556  20190319 2019-03-19  2019      3   19  201903  20190319      Q1
557  20190317 2019-03-17  2019      3   17  201903  20190317      Q1
558  20190320 2019-03-20  2019      3   20  201903  20190320      Q1
559  20190322 2019-03-22  2019      3   22  201903  20190322      Q1

[560 rows x 8 columns]

### Load ###

#### Connect to DB ####

In [44]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="ecomdb",
                                           user = "postgres",
                                           password = "hai",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("Connection to DB established!")
        return self.connection

In [45]:
con = PostgresConnection().getConnection()

Connection to DB established!

#### Insert Data into tables #####

In [46]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.dim_geography( geo_key, upazila, district, division)" \
            " VALUES (%s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, dim_geography.values)
con.commit()
cur.close()

Connection to DB established!

In [48]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.dim_hospital( hospital_key, hospital_name, branch_name, hospital_type, email, website, address, geo_code, city, upazila, district, division) VALUES (%s, %s, %s, %s,%s, %s, %s, %s,%s, %s, %s, %s );"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, dim_hospital.values)
con.commit()
cur.close()

Connection to DB established!

In [49]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.dim_lab( lab_key, lab_name, lab_type, lab_code, lab_desc) VALUES (%s, %s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, dim_lab.values)
con.commit()
cur.close()

Connection to DB established!

In [51]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.dim_test(test_key, test_name, test_code, specimen, ct_ref, test_desc)VALUES (%s, %s, %s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, dim_test.values)
con.commit()
cur.close()

Connection to DB established!

In [53]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.dim_time(time_key, date_time, year, month, day, yyyymm,yyyymmdd, quarter)VALUES (%s, %s, %s, %s, %s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, dim_time.values)
con.commit()
cur.close()

Connection to DB established!

In [56]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.fact_sales(pik, time_key, geo_key, hospital_key, lab_key, test_key, sales_price)VALUES (%s, %s, %s, %s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, fact_sales.values)
con.commit()
cur.close()

Connection to DB established!

In [61]:
con = PostgresConnection().getConnection()
select_stmt = "SELECT * FROM star_schema.dim_test ORDER BY test_key ASC LIMIT 100"
            
cur = con.cursor()
cur.execute(select_stmt)
res = cur.fetchall()
cur.close()

Connection to DB established!

In [62]:
res

[('10001',
  'Peritoneal Fluid for Amylase',
  '1980',
  'PERITONEAL FLUID',
  'BSH',
  'Sample Desc'),
 ('10002', 'Pus for Fungus', '1988', 'PUS', 'BSH', 'Desc'),
 ('10003', 'Drain Fluid for Bilirubin', '885', 'FLUID', 'BSH', 'Desc'),
 ('10004', 'NASAL SWAB FOR KLB', '705', 'Not Found', 'BSH', 'Desc'),
 ('10005',
  'X-Pert  MTB/RIF assay by archived gastric Aspirate',
  '706',
  'TRACHEAL ASPIRATE',
  'BSH',
  'Desc'),
 ('10006', 'Anti-Filaria Ab IgG4', '192', 'BLOOD', 'BSH', 'Desc'),
 ('10007', 'Synovial Fluid For Potassium(K+)', '1883', 'FLUID', 'BSH', 'Desc'),
 ('10008', 'Chikungunya Antibody IgM ICT', '1941', 'BLOOD', 'BSH', 'Desc'),
 ('10009', 'Pleural Fluid for C/S', '1482', 'PLEURAL FLUID', 'BSH', 'Desc'),
 ('10010',
  'Pleural Fluid for Gram Stain',
  '1483',
  'PLEURAL FLUID',
  'BSH',
  'Desc'),
 ('10011',
  'Pleural Fluid for Malignant Cell',
  '1486',
  'PLEURAL FLUID',
  'BSH',
  'A malignant pleural effusion (MPE) is the build up of fluid and cancer cells that collects between the chest wall and the lung. This can cause you to have chest discomfort as well as feel short of breath. It is a fairly common complication in a number of different cancers.'),
 ('10012',
  'Peritoneal Fluid for Protein',
  '1488',
  'PERITONEAL FLUID',
  'BSH',
  'Desc'),
 ('10013', 'Peritoneal Fluid for Chloride', '1489', 'FLUID', 'BSH', 'Desc'),
 ('10014',
  'Peritoneal Fluid for Glucose',
  '1490',
  'PERITONEAL FLUID',
  'BSH',
  'Desc'),
 ('10015',
  'Peritoneal Ascitic Fluid for C/S',
  '1491',
  'PERITONEAL FLUID',
  'BSH',
  'Desc'),
 ('10016',
  'Peritoneal Fluid for AFB',
  '1493',
  'PERITONEAL FLUID',
  'BSH',
  'Desc'),
 ('10017', 'HIV Ab I&II', '179', 'BLOOD', 'BSH', 'Desc'),
 ('10018', 'Iron Profile', '33333', 'BLOOD', 'BSH', 'Desc'),
 ('10019', 'Iron Profile (f)', '4444', 'BLOOD', 'BSH', 'Desc'),
 ('10020', 'Septin 9 Methylated DNA', '1647', 'BLOOD', 'BSH', 'Desc'),
 ('10021', 'CD99', '1648', 'TISSUE', 'BSH', 'Desc'),
 ('10022', 'CD23', '1649', 'As Required', 'BSH', 'Desc'),
 ('10023', 'Anti-Phospholipid IgG', '1443', 'BLOOD', 'BSH', 'Desc'),
 ('10024',
  'Synovial Fluid for MTB DNA',
  '1505',
  'SYNOVIAL FLUID',
  'BSH',
  'Desc'),
 ('10025', 'BAL for TB C/S', '1532', 'BAL', 'BSH', 'Desc'),
 ('10026', 'PUS for C/S (FAN Method)', '1528', 'PUS', 'BSH', 'Desc'),
 ('10027',
  'Synovial Fluid For Phosphate(PO4)',
  '1884',
  'FLUID',
  'BSH',
  'Desc'),
 ('10028', 'Synovial Fluid for Chloride', '1885', 'FLUID', 'BSH', 'Desc'),
 ('10029', 'FNAC (CT Scan Guided)', '1650', 'As Required', 'BSH', 'Desc'),
 ('10030', 'CD117', '1651', 'TISSUE', 'BSH', 'Desc'),
 ('10031', 'CD138', '1652', 'As Required', 'BSH', 'Desc'),
 ('10032', 'Semen for C/S', '1530', 'SEMEN', 'BSH', 'Desc'),
 ('10033', 'Ascitic Fluid for C/S', '1673', 'ASCITIC FLUID', 'BSH', 'Desc'),
 ('10034',
  'Skin Scraping for Fungus Culture',
  '1674',
  'SKIN SCRAPING',
  'BSH',
  'Desc'),
 ('10035', 'Fluid for Fungus Culture', '1675', 'FLUID', 'BSH', 'Desc'),
 ('10036',
  'Vaginal Discharge for  Culture',
  '1676',
  'VAGINAL DISCHARGE',
  'BSH',
  'Desc'),
 ('10037',
  'Valval Smear for Fungus Culture',
  '1677',
  'VALVAL SMEAR',
  'BSH',
  'Desc'),
 ('10038', 'Liver needle biopsy', '1281', 'Not Found', 'BSH', 'Desc'),
 ('10039',
  'Skin Biopsy & DIF (HISTO-PATHOLOGY)',
  '1310',
  'TISSUE',
  'BSH',
  'Desc'),
 ('10040', 'NT Pro BNP', '834', 'BLOOD', 'BSH', 'Desc'),
 ('10041', 'Troponin I', '835', 'BLOOD', 'BSH', 'Desc'),
 ('10042', 'BETA hCG', '104', 'BLOOD', 'BSH', 'Desc'),
 ('10043', 'Serum IgE', '111', 'BLOOD', 'BSH', 'Desc'),
 ('10044', 'CA-125', '118', 'BLOOD', 'BSH', 'Desc'),
 ('10045', 'C-ANCA', '155', 'BLOOD', 'BSH', 'Desc'),
 ('10046', 'Rubella IgG', '379', 'BLOOD', 'BSH', 'Desc'),
 ('10047', 'Cytomegalo Virus (CMV) IgG', '383', 'BLOOD', 'BSH', 'Desc'),
 ('10048',
  'Herpes Simplex Virus I-II IgG & IgM',
  '359',
  'BLOOD',
  'BSH',
  'Desc'),
 ('10049', 'Cocaine', '886', 'BLOOD', 'BSH', 'Desc'),
 ('10050', 'Fasting Insulin', '1069', 'BLOOD', 'BSH', 'Desc'),
 ('10051', 'CA-15.3', '1099', 'BLOOD', 'BSH', 'Desc'),
 ('10052', 'Spot Urine for Sodium', '1697', 'URINE', 'BSH', 'Desc'),
 ('10053',
  'Urine for Potassium Creatinine Ratio',
  '1698',
  'URINE',
  'BSH',
  'Desc'),
 ('10054', 'Fungus', '1795', 'SKIN SCRAPING', 'BSH', 'Desc'),
 ('10055', 'Lt Ear Swab for Gram Stain', '1427', 'EAR SWAB', 'BSH', 'Desc'),
 ('10056', 'Anti-HEV IgM (ELISA)', '195', 'BLOOD', 'BSH', 'Desc'),
 ('10057',
  'Grouping + Cross Matching + Screening',
  'BLD007',
  'BLOOD',
  'BSH',
  'Desc'),
 ('10058', 'INR', '409', 'BLOOD', 'BSH', 'Desc'),
 ('10059', 'Peptide', '423', 'BLOOD', 'BSH', 'Desc'),
 ('10060', 'CUS 2hrs After Lunch', '1615', 'URINE', 'BSH', 'Desc'),
 ('10061', 'CUS 2hrs After Meal', '1616', 'URINE', 'BSH', 'Desc'),
 ('10062', 'Acetone (Urine)', '301', 'URINE', 'BSH', 'Desc'),
 ('10063', 'Urine R/S', '306', 'URINE', 'BSH', 'Desc'),
 ('10064', 'Dermatophytes', '307', 'SKIN SCRAPING', 'BSH', 'Desc'),
 ('10065', 'Urine-PH', '327', 'URINE', 'BSH', 'Desc'),
 ('10066', 'Stool Floatation Method', '329', 'STOOL', 'BSH', 'Desc'),
 ('10067', 'Hanssen Bacilli', '333', 'SLIT SKIN SMEAR', 'BSH', 'Desc'),
 ('10068', 'Cyst - medium to large', '1307', 'BLOOD', 'BSH', 'Desc'),
 ('10069', 'Brain tissue-small', '1308', 'As Required', 'BSH', 'Desc'),
 ('10070',
  'Brain tissue-medium to large',
  '1309',
  'As Required',
  'BSH',
  'Desc'),
 ('10071', 'Anti-HBs', '188', 'BLOOD', 'BSH', 'Desc'),
 ('10072', 'Cervix alone', '1263', 'As Required', 'BSH', 'Desc'),
 ('10073', 'Fistula Tract', '1293', 'BLOOD', 'BSH', 'Desc'),
 ('10074',
  'EBV Panel Of Abs ( VCA IgG+VCA IgM+EBNA IgG+EBNA IgM+EA IgG+EA IgM)',
  '172',
  'BLOOD',
  'BSH',
  'Desc'),
 ('10075', 'Metanephrines (24 hrs Urine)', '428', 'BLOOD', 'BSH', 'Desc'),
 ('10076',
  'Peritoneal Fluid for MTB DNA',
  '1496',
  'PERITONEAL FLUID',
  'BSH',
  'Desc'),
 ('10077', 'Electrolytes Spot Urine', '1506', 'URINE', 'BSH', 'Desc'),
 ('10078', 'Na+ K+ Urine', '1507', 'URINE', 'BSH', 'Desc'),
 ('10079', 'Cardiolipin IgE', '671', 'BLOOD', 'BSH', 'Desc'),
 ('10080', 'TSH Receptor Antibody (TRAB)', '733', 'BLOOD', 'BSH', 'Desc'),
 ('10081', 'CMV IgG', '779', 'BLOOD', 'BSH', 'Desc'),
 ('10082', 'Fluid ( ) for Fungus Culture', '1678', 'FLUID.', 'BSH', 'Desc'),
 ('10083', 'Pleural Fluid For Lipase', '1874', 'PLEURAL FLUID', 'BSH', 'Desc'),
 ('10084', 'Pleural Fluid For Sodium(Na+)', '1875', 'FLUID', 'BSH', 'Desc'),
 ('10085', 'Pleural Fluid For Potassium(K+)', '1876', 'FLUID', 'BSH', 'Desc'),
 ('10086',
  'Immunohistochemistry Breast Panel\t\t',
  '1029',
  'TISSUE',
  'BSH',
  'Desc'),
 ('10087', 'Synovial Fluid For Amylase', '1879', 'FLUID', 'BSH', 'Desc'),
 ('10088', 'Urine For OBT', '344', 'URINE', 'BSH', 'Desc'),
 ('10089', 'Ascitic Fulid for Albumin', '367', 'ASCITIC FLUID', 'BSH', 'Desc'),
 ('10090', 'Blood For Micro-Filaria', '370', 'WHOLE BLOOD', 'BSH', 'Desc'),
 ('10091', 'LD Bodies', '431', 'WHOLE BLOOD', 'BSH', 'Desc'),
 ('10092', 'WBC', '472', 'As Required', 'BSH', 'Desc'),
 ('10093', 'Pleural fluid for ADA', '544', 'PLEURAL FLUID', 'BSH', 'Desc'),
 ('10094', 'Clot Rertraction Test', '547', 'As Required', 'BSH', 'Desc'),
 ('10095', 'Synovial Fluid For Creatinine', '1880', 'FLUID', 'BSH', 'Desc'),
 ('10096', 'Synovial Fluid For Lipase', '1881', 'FLUID', 'BSH', 'Desc'),
 ('10097', 'Synovial Fluid For Sodium(Na+)', '1882', 'FLUID', 'BSH', 'Desc'),
 ('10098', 'MTB DNA For Pus', '1946', 'PUS', 'BSH', 'Desc'),
 ('10099', 'Synovial Fluid for C/S', '1672', 'SYNOVIAL FLUID', 'BSH', 'Desc'),
 ('10100', 'RA/RF', '83', 'BLOOD', 'BSH', 'Desc')]