In [ ]:
pip install matplotlib

In [ ]:
pip install seaborn

In [ ]:
import psycopg2
import pandas as pd
import psycopg2.extras
import seaborn as sns
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="ecomdb",
                                           user = "postgres",
                                           password = "ahanaf12",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("successfully connected to database")
        return self.connection

In [ ]:
con = PostgresConnection().getConnection()

# Q1: Find the division wise total_sale_price joining fact table and respective dimension table

In [ ]:
def changetype(x):
    x['sales']=x['sales'].astype('float64')

In [ ]:
con = PostgresConnection().getConnection()
cur = con.cursor()
select_stmt = "SELECT s.division, SUM(t.total_price) " \
              "FROM star_schema.\"Fact_table\" t " \
              "JOIN star_schema.\"Store_dim\" s on s.store_key=t.store_key " \
                "GROUP BY CUBE(s.division) " \
                "ORDER BY s.division "
cur.execute(select_stmt)
records = cur.fetchall()

df = pd.DataFrame(records, columns=['division', 'sales'])
df =df.drop(df.index[-1])
df = df.set_index(['division'])

changetype(df)
df.plot.pie(y='sales')
plt.figure(figsize=(10,5))
df.plot.bar(y='sales')

division_total_sales = df
division_total_sales

In [ ]:
con = PostgresConnection().getConnection()
cur = con.cursor()
select_stmt = "SELECT s.year, SUM(t.total_price) " \
              "FROM star_schema.\"Fact_table\" t " \
              "JOIN star_schema.\"Time_dim\" s on s.time_key=t.time_key " \
                "GROUP BY CUBE(s.year) " \
                "ORDER BY s.year "
cur.execute(select_stmt)
records = cur.fetchall()

df = pd.DataFrame(records, columns=['year', 'sales'])
df = df.drop(df.index[-1])
df = df.set_index(['year'])

changetype(df)
df.plot.pie(y='sales')
plt.figure(figsize=(10,5))
df.plot.bar(y='sales')

year_total_sales = df
year_total_sales

In [ ]:
con = PostgresConnection().getConnection()
cur = con.cursor()
select_stmt = "SELECT s.district, SUM(t.total_price) " \
              "FROM star_schema.\"Fact_table\" t " \
              "JOIN star_schema.\"Store_dim\" s on s.store_key=t.store_key " \
                "GROUP BY CUBE(s.district) " \
                "ORDER BY s.district "
cur.execute(select_stmt)
records = cur.fetchall()

df = pd.DataFrame(records, columns=['district', 'sales'])
df = df.drop(df.index[-1])
df = df.set_index(['district'])

changetype(df)
df.plot.pie(y='sales')
plt.figure(figsize=(10,5))
df.plot.bar(y='sales')

district_total_sales = df
district_total_sales

In [ ]:
con = PostgresConnection().getConnection()
cur = con.cursor()
select_stmt = "SELECT s.month, SUM(t.total_price) " \
              "FROM star_schema.\"Fact_table\" t " \
              "JOIN star_schema.\"Time_dim\" s on s.time_key=t.time_key " \
                "GROUP BY CUBE(s.month) " \
                "ORDER BY s.month "
cur.execute(select_stmt)
records = cur.fetchall()

df = pd.DataFrame(records, columns=['month', 'sales'])
df = df.drop(df.index[-1])
df = df.set_index(['month'])

changetype(df)
df.plot.pie(y='sales')
plt.figure(figsize=(10,5))
df.plot.bar(y='sales')

month_total_sales = df
month_total_sales

In [ ]:
con = PostgresConnection().getConnection()
cur = con.cursor()
select_stmt = "SELECT s.name, SUM(t.total_price) " \
              "FROM star_schema.\"Fact_table\" t " \
              "JOIN star_schema.\"Customer_dim\" s on s.customer_key=t.customer_key " \
                "GROUP BY CUBE(s.name) " \
                "ORDER BY s.name "
cur.execute(select_stmt)
records = cur.fetchall()

df = pd.DataFrame(records, columns=['Customer Name', 'sales'])
df = df.drop(df.index[-1])
df = df.set_index(['Customer Name'])

customer_total_sales = df
customer_total_sales

In [ ]:
con = PostgresConnection().getConnection()
cur = con.cursor()
select_stmt = "SELECT s.bank_name, SUM(t.total_price) " \
              "FROM star_schema.\"Fact_table\" t " \
              "JOIN star_schema.\"Trans_dim\" s on s.payment_key=t.payment_key " \
                "GROUP BY CUBE(s.bank_name) " \
                "ORDER BY s.bank_name "
cur.execute(select_stmt)
records = cur.fetchall()

df = pd.DataFrame(records, columns=['Bank Name', 'sales'])
df = df.drop(df.index[-1])
df = df.set_index(['Bank Name'])

changetype(df)
df.plot.pie(y='sales')
plt.legend(loc='upper right')
plt.figure(figsize=(10,5))
df.plot.bar(y='sales')


bank_total_sales = df
bank_total_sales

In [ ]:
con = PostgresConnection().getConnection()
cur = con.cursor()
select_stmt = "SELECT s.trans_type, SUM(t.total_price) " \
              "FROM star_schema.\"Fact_table\" t " \
              "JOIN star_schema.\"Trans_dim\" s on s.payment_key=t.payment_key " \
                "GROUP BY CUBE(s.trans_type) " \
                "ORDER BY s.trans_type "
cur.execute(select_stmt)
records = cur.fetchall()

df = pd.DataFrame(records, columns=['Transaction Type', 'sales'])
df = df.drop(df.index[-1])
df = df.set_index(['Transaction Type'])

changetype(df)
df.plot.pie(y='sales')
plt.figure(figsize=(10,5))
df.plot.bar(y='sales')

transaction_total_sales = df
transaction_total_sales

In [ ]:
con = PostgresConnection().getConnection()
cur = con.cursor()
select_stmt = "SELECT s.division, SUM(t.total_price) " \
              "FROM star_schema.\"Fact_table\" t " \
              "JOIN star_schema.\"Store_dim\" s on s.store_key=t.store_key " \
                "WHERE s.division = 'BARISAL'" \
                "GROUP BY s.division"
cur.execute(select_stmt)
records = cur.fetchall()

df = pd.DataFrame(records, columns=['District', 'Total Sales'])
df = df.set_index(['District'])

barisal_total_sales = df
barisal_total_sales

In [ ]:
con = PostgresConnection().getConnection()
cur = con.cursor()
select_stmt = "SELECT s.division, SUM(t.total_price) " \
              "FROM star_schema.\"Fact_table\" t " \
              "JOIN star_schema.\"Store_dim\" s on s.store_key=t.store_key " \
                "WHERE s.division = 'BARISAL'" \
                "GROUP BY s.division"
cur.execute(select_stmt)
records = cur.fetchall()

df = pd.DataFrame(records, columns=['District', 'Total Sales'])
df = df.set_index(['District'])

barisal_total_sales = df
barisal_total_sales

In [ ]:
con = PostgresConnection().getConnection()
cur = con.cursor()
select_stmt = "SELECT s.year, SUM(t.total_price) " \
              "FROM star_schema.\"Fact_table\" t " \
              "JOIN star_schema.\"Time_dim\" s on s.time_key=t.time_key " \
                "WHERE s.year = 2015 " \
                "GROUP BY s.year " 
cur.execute(select_stmt)
records = cur.fetchall()

df = pd.DataFrame(records, columns=['Year', 'Total Sales'])
df = df.set_index(['Year'])

year_2015_total_sales = df
year_2015_total_sales

In [ ]:
con = PostgresConnection().getConnection()
cur = con.cursor()
select_stmt = "SELECT s.year, p.division, SUM(t.total_price) " \
              "FROM star_schema.\"Fact_table\" t " \
              "JOIN star_schema.\"Time_dim\" s on s.time_key=t.time_key " \
                "JOIN star_schema.\"Store_dim\" p on p.store_key=t.store_key " \
                "WHERE s.year = 2015 AND p.division = 'BARISAL'" \
                "GROUP BY s.year, p.division" 
cur.execute(select_stmt)
records = cur.fetchall()

df = pd.DataFrame(records, columns=['Year', 'Division', 'Total Sales'])
df = df.set_index(['Division'])

year_2015_barisal_total_sales = df
year_2015_barisal_total_sales

In [ ]:
con = PostgresConnection().getConnection()
cur = con.cursor()
select_stmt = "SELECT store_key, item_name, quantity " \
              "FROM (" \
                    "SELECT s.store_key, p.item_name, SUM(t.quantity) AS quantity, " \
                    "ROW_NUMBER() OVER (PARTITION BY s.store_key ORDER BY SUM(t.quantity) DESC) AS row_num " \
                    "FROM star_schema.\"Fact_table\" t " \
                    "JOIN star_schema.\"Store_dim\" s on s.store_key=t.store_key " \
                    "JOIN star_schema.\"Item_dim\" p on p.item_key=t.item_key " \
                    "GROUP BY s.store_key, p.item_name " \
              ") subquery " \
              "WHERE row_num <= 3 " \
              "ORDER BY store_key, quantity DESC"  
cur.execute(select_stmt)
records = cur.fetchall()

df = pd.DataFrame(records, columns=['Store Key', 'Item Name', 'Quantity Sales'])

store_item_quantity_sales = df

print(store_item_quantity_sales.columns)

for index, row in df.iterrows():
    if index % 3 == 0:
        print("Store Key: {}".format(row['Store Key']))
    print("\t\tItem Name: {}, Quantity Sold: {}".format(row['Item Name'], row['Quantity Sales']))

In [ ]:
con = PostgresConnection().getConnection()
cur = con.cursor()

select_stmt = "SELECT item_name, quarter " \
              "FROM (" \
                    "SELECT p.item_name, s.quarter, SUM(t.total_price) AS sum, " \
                    "RANK() OVER (PARTITION BY p.item_name ORDER BY SUM(t.total_price) DESC) AS rank " \
                    "FROM star_schema.\"Fact_table\" t " \
                    "JOIN star_schema.\"Time_dim\" s on s.time_key=t.time_key " \
                    "JOIN star_schema.\"Item_dim\" p on p.item_key=t.item_key " \
                    "GROUP BY p.item_name, s.quarter" \
              ") subquery " \
              "WHERE rank = 1 " \
              "ORDER BY item_name"
cur.execute(select_stmt)
records = cur.fetchall()

df = pd.DataFrame(records, columns=["Item Name", "Worst Quarter"])

items_worst_quarter = df
items_worst_quarter

#for index, row in df.iterrows():
#    print("{} -> Worst Quarter: {}".format(row['Item Name'], row['Worst Quarter']))

In [ ]:
con = PostgresConnection().getConnection() 
cur = con.cursor() 

year = 2020 # input("Year: ") 
month = 4 # input("Number of month: ") 
days_start = 1 # input("Days start: ") 
days_end = 2 # input("Days end: ")

select_stmt = "SELECT DISTINCT p.item_name " \
                "FROM star_schema.\"Fact_table\" t " \
                "JOIN star_schema.\"Time_dim\" s on s.time_key=t.time_key " \
                "JOIN star_schema.\"Item_dim\" p on p.item_key=t.item_key " \
"WHERE s.year = {} AND s.month = {} AND s.day >= {} AND s.day <= {} ".format(year, month, days_start, days_end) 
cur.execute(select_stmt) 
records = cur.fetchall()

df = pd.DataFrame(records, columns=["Item Name"]) 
df = df.set_index(['Item Name'])

items_since_days = df 
items_since_days

#for index, row in df.iterrows():
#    print("{}".format(row['Item Name']))

In [ ]:
con = PostgresConnection().getConnection()
cur = con.cursor()
select_stmt = "SELECT s.item_name, p.division, SUM(t.total_price) " \
              "FROM star_schema.\"Fact_table\" t " \
              "JOIN star_schema.\"Item_dim\" s on s.item_key=t.item_key " \
                "JOIN star_schema.\"Store_dim\" p on p.store_key=t.store_key " \
                "GROUP BY s.item_name, p.division " \
                "ORDER BY s.item_name, SUM(t.total_price) DESC"
cur.execute(select_stmt)
records = cur.fetchall()

df = pd.DataFrame(records, columns=['Item Name', 'Division', 'Total Sales'])

item_division_sales = df
item_division_sales

for index, row in df.iterrows():
    if index % 7 == 0:
        print("Item Name: {}".format(row['Item Name']))
    print("\t\tDivision: {}, Total Sales: {}".format(row['Division'], row['Total Sales']))

In [ ]:
con = PostgresConnection().getConnection()
cur = con.cursor()
select_stmt = "SELECT s.store_key, p.month, SUM(t.total_price) " \
              "FROM star_schema.\"Fact_table\" t " \
              "JOIN star_schema.\"Store_dim\" s on s.store_key=t.store_key " \
                "JOIN star_schema.\"Time_dim\" p on p.time_key=t.time_key " \
                "GROUP BY s.store_key, p.month " \
                "ORDER BY s.store_key, p.month"
cur.execute(select_stmt)
records = cur.fetchall()

df = pd.DataFrame(records, columns=['Store Key', 'Month', 'Average Sales'])

store_monthly_sales = df
store_monthly_sales

for index, row in df.iterrows():
    if index % 12 == 0:
        print("Store Key: {}".format(row['Store Key']))
    print("\t\tMonth: {}, Average Sales: {}".format(row['Month'], row['Average Sales']))